<h2>vai te lascar, então</h2>
<h2>vai te lascar, então</h2>
<h2>vai te lascar, então</h2>
<h2>vai te lascar, então</h2>
<h2>vai te lascar, então</h2>
<h2>vai te lascar, então</h2>
<h2>vai te lascar, então</h2>
<div class="SAIR">
<%= link_to "VOU TE DAR OUTRA OPORTUNIDADE", root_path %>
</div>
