<h1>Casa cmg?</h1>


<h3>você é uma gostosa</h3>


<div class = "buttons">

<button> <%= link_to "sim", aceitou_index_path %> </button>


<button> <%= link_to "não", negou_index_path %> </button>

</div>



<div class="SAIR">
<%= link_to "voltar", root_path %>
</div>


